body {
    margin: 0px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
    font-family: GothamNarrowBook;
}
@font-face {
    font-family: GothamNarrowBlack;
    src: url(GothamNarrow-Black.otf);
}
@font-face {
    font-family: GothamNarrowBook;
    src: url(GothamNarrow-Book.otf);
}
.header-cont {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
}
.header {
    max-width: 960px;
    height: 40px;
    margin: 0px auto;
    padding: 5px 5px 5px 12px;
    box-shadow: 1px 1px 1px #888888;
    background: black;
    font-family: GothamNarrowBlack;
    color: white;
    -webkit-animation: headerFadeIn 3s;
}
#hamburger {
    width: auto;
    float: right;
    margin: -36.5px 10px auto;
    border-bottom: 17px double white;
    border-top: 6px solid white;
    content: "";
    height: 5px;
    width: 30px;
    box-shadow: none;
}
nav ul ul {
    display: none;
}
nav ul li:hover > ul {
    display: block;
    float: right;
    list-style: none;
    position: relative;
    padding-top: 8px;
    margin-top: -8px;
    margin-right: -5px;
    line-height: 250%;
}
nav ul a:hover {
    background-color: black;
    color: white;
    box-shadow: 1px 1px 1px #888888;
    font-size: 30px;
}
nav ul a {
    font-size: 30px;
}
nav ul li {
    list-style: none;
}
.content {
    max-width: 600px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    border: 0px solid #CCC;
    height: auto;
    margin: 70px auto;
    text-align: justify;
    line-height: 150%;
    padding: 40px 40px;
    box-shadow: 1px 1px 5px #888888;
    -webkit-animation: fadeIn 1s;
}
.footer {
    width: auto;
    height: 25px;
    background: black;
    border: 0px solid #CCC;
    margin: 0px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5px 0px 0px 0px;
    color: white;
    font-size: 90%;
    -webkit-animation: fadeIn 1s;
}
@media screen and (max-width: 650px) {
    .footer {
        font-size: 85%;
        padding: 6px 0px 0px 0px;
    }
}
a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: #6B6B6B;
    -webkit-transition: color 0.15s ease-out;
}
h1 {
    line-height: 0%;
}
img {
    max-width: 100%;
    height: auto;
}
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
}
.lightbox img {
    max-width: 90%;
    max-height: 80%;
    margin-top: 8%;
}
.lightbox:target {
    outline: none;
    display: block;
}
.img-footer {
    font-size: 13px;
    color: white;
    text-align: center;
    margin-top: -7px;
    background-color: black;
}
@media screen and (max-width: 650px) {
    .img-footer {
        font-size: 85%;
    }
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@-webkit-keyframes headerFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translateY(200px);
        -webkit-animation-timing-function: ease-out;
    }
    70% {
        opacity: 0;
        -webkit-transform: translateY(200px);
        -webkit-animation-timing-function: ease-out;
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
    }
